/* #Reset
================================================================================================= */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Media - Fluid Images - Video
======================================================= */
figure {
  margin: 0;
}

img, object, embed, video {
  max-width: 100%;
  _width: 100%;
}

/* Fluid images */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* Improve IE's resizing of images */
svg:not(:root) {
  overflow: hidden;
}

/* Correct IE9 overflow */
img {
  height: auto;
}

/* Foods
================================================================================================= */
/* Standard Colors
================================================================================================= */
/* Responsive Breakpoints
================================================================================================= */
/* Transition Times
================================================================================================= */
@font-face {
  font-family: 'Novecentowide-Bold';
  src: url("/fonts/novecento/25DFFC_0_0.eot");
  src: url("/fonts/novecento/25DFFC_0_0.eot?#iefix") format("embedded-opentype"), url("/fonts/novecento/25DFFC_0_0.woff") format("woff"), url("/fonts/novecento/25DFFC_0_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Novecentowide-Light';
  src: url("/fonts/novecento/25DFFC_1_0.eot");
  src: url("/fonts/novecento/25DFFC_1_0.eot?#iefix") format("embedded-opentype"), url("/fonts/novecento/25DFFC_1_0.woff") format("woff"), url("/fonts/novecento/25DFFC_1_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Novecentowide-DemiBold';
  src: url("/fonts/novecento/25DFFC_2_0.eot");
  src: url("/fonts/novecento/25DFFC_2_0.eot?#iefix") format("embedded-opentype"), url("/fonts/novecento/25DFFC_2_0.woff") format("woff"), url("/fonts/novecento/25DFFC_2_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Novecentowide-Book';
  src: url("/fonts/novecento/25DFFC_3_0.eot");
  src: url("/fonts/novecento/25DFFC_3_0.eot?#iefix") format("embedded-opentype"), url("/fonts/novecento/25DFFC_3_0.woff") format("woff"), url("/fonts/novecento/25DFFC_3_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Novecentowide-Normal';
  src: url("/fonts/novecento/25DFFC_4_0.eot");
  src: url("/fonts/novecento/25DFFC_4_0.eot?#iefix") format("embedded-opentype"), url("/fonts/novecento/25DFFC_4_0.woff") format("woff"), url("/fonts/novecento/25DFFC_4_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Novecentowide-Medium';
  src: url("/fonts/novecento/25DFFC_5_0.eot");
  src: url("/fonts/novecento/25DFFC_5_0.eot?#iefix") format("embedded-opentype"), url("/fonts/novecento/25DFFC_5_0.woff") format("woff"), url("/fonts/novecento/25DFFC_5_0.ttf") format("truetype");
}

/* Links and Headers
======================================================= */
a {
  color: blue;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
a:focus, a:hover, a:active {
  outline: 0;
}
a:hover {
  color: purple;
}

h1, h2, h3, h4, h5 {
  margin-bottom: 0.35em;
  color: white;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  font-family: 'Open Sans';
  font-weight: 800;
}

h1 {
  font-size: 4.5em;
}

h2 {
  font-size: 3.25em;
}

h3 {
  font-size: 2.25em;
}

h4 {
  font-size: 2.1em;
}

h5 {
  font-size: 1.1em;
}

/* Main Body Styles
======================================================= */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 62.5%;
  color: #aaaaaa;
}

#bkgd-img {
  background: url("../images/bkgd-img.jpg") no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-filter: blur(10px);
  filter: blur(10px);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -9999;
}

header {
  float: left;
  background: #fffdf5;
  width: 100%;
  padding: 0;
  color: white;
  font-size: 2.2em;
  text-align: center;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 500;
}
header .header-wrapper {
  padding: 20px 0;
  width: 70%;
  max-width: 1000px;
  margin: 0 auto;
}
header #site-logo, header #header-link {
  display: inline-block;
  margin: 0;
  padding: 0;
}
header #site-logo {
  float: left;
  margin-bottom: 26px;
  text-align: left;
  font-size: 1.6em;
  line-height: 1;
  color: #444;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 800;
}
header #header-link {
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  color: white;
  font-size: 0.5em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.05em;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 500;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
  color: #444;
  border-color: rgba(15, 15, 15, 0.2);
  float: right;
  padding: 8px 12px;
  text-align: center;
  font-size: 0.65em;
}
header #header-link:hover {
  border-color: white;
}

#current-date {
  width: 100%;
  float: left;
  display: inline-block;
  margin: 0;
  padding: 120px 0;
  color: white;
  font-size: 4.5em;
  text-align: center;
  text-shadow: 2px 2px 0 rgba(15, 15, 15, 0.5);
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 800;
}
#current-date #date-header {
  letter-spacing: -0.15;
  font-family: 'Cedarville Cursive', cursive;
}

.wrapper {
  width: 100%;
  float: left;
  padding: 40px 0 60px;
  background: rgba(255, 253, 245, 0.55);
}

#crop-list {
  padding: 0;
  margin: 0 auto;
  width: 70%;
  max-width: 1000px;
}
#crop-list li {
  width: 49.5%;
  margin: 0 1% 10px 0;
  border-radius: 5px;
  list-style: none;
  float: left;
  padding: 20px 0;
  display: inline-block;
  background: rgba(255, 253, 245, 0.6);
  font-size: 3em;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 500;
}
#crop-list li:nth-child(2n) {
  margin-right: 0;
}
#crop-list li svg, #crop-list li img {
  margin-left: 20px;
  width: 12%;
  height: 50px;
  float: left;
}
#crop-list li span {
  text-transform: uppercase;
  margin-left: 10px;
  float: left;
  width: 70%;
  position: relative;
  top: 15px;
}
#crop-list li.apples {
  color: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.apples svg .icon {
  fill: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.apples:hover {
  background: #930534;
  color: #dd074e;
}
#crop-list li.apples:hover svg .icon {
  fill: #dd074e;
}
#crop-list li.apricots {
  color: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.apricots svg .icon {
  fill: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.apricots:hover {
  background: #e98c0a;
  color: #f7ae49;
}
#crop-list li.apricots:hover svg .icon {
  fill: #f7ae49;
}
#crop-list li.asparagus {
  color: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.asparagus svg .icon {
  fill: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.asparagus:hover {
  background: #668050;
  color: #8ca874;
}
#crop-list li.asparagus:hover svg .icon {
  fill: #8ca874;
}
#crop-list li.beets {
  color: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.beets svg .icon {
  fill: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.beets:hover {
  background: #43001f;
  color: #8f0142;
}
#crop-list li.beets:hover svg .icon {
  fill: #8f0142;
}
#crop-list li.bell-peppers {
  color: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.bell-peppers svg .icon {
  fill: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.bell-peppers:hover {
  background: #b0610d;
  color: #ee881c;
}
#crop-list li.bell-peppers:hover svg .icon {
  fill: #ee881c;
}
#crop-list li.broccoli {
  color: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.broccoli svg .icon {
  fill: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.broccoli:hover {
  background: #789534;
  color: #a2c352;
}
#crop-list li.broccoli:hover svg .icon {
  fill: #a2c352;
}
#crop-list li.cabbage {
  color: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.cabbage svg .icon {
  fill: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.cabbage:hover {
  background: #d6e461;
  color: #e7efa2;
}
#crop-list li.cabbage:hover svg .icon {
  fill: #e7efa2;
}
#crop-list li.cantaloupe {
  color: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.cantaloupe svg .icon {
  fill: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.cantaloupe:hover {
  background: #ffc14a;
  color: #ffdb96;
}
#crop-list li.cantaloupe:hover svg .icon {
  fill: #ffdb96;
}
#crop-list li.carrots {
  color: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.carrots svg .icon {
  fill: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.carrots:hover {
  background: #f39010;
  color: #f7b259;
}
#crop-list li.carrots:hover svg .icon {
  fill: #f7b259;
}
#crop-list li.cauliflower {
  color: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.cauliflower svg .icon {
  fill: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.cauliflower:hover {
  background: #ffe9a6;
  color: #fffcf3;
}
#crop-list li.cauliflower:hover svg .icon {
  fill: #fffcf3;
}
#crop-list li.celery {
  color: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.celery svg .icon {
  fill: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.celery:hover {
  background: #b3d984;
  color: #d7ebbe;
}
#crop-list li.celery:hover svg .icon {
  fill: #d7ebbe;
}
#crop-list li.cherries {
  color: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.cherries svg .icon {
  fill: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.cherries:hover {
  background: #962e59;
  color: #c7497d;
}
#crop-list li.cherries:hover svg .icon {
  fill: #c7497d;
}
#crop-list li.chile-peppers {
  color: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.chile-peppers svg .icon {
  fill: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.chile-peppers:hover {
  background: #65050c;
  color: #ae0914;
}
#crop-list li.chile-peppers:hover svg .icon {
  fill: #ae0914;
}
#crop-list li.cucumbers {
  color: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.cucumbers svg .icon {
  fill: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.cucumbers:hover {
  background: #577e2d;
  color: #7eb641;
}
#crop-list li.cucumbers:hover svg .icon {
  fill: #7eb641;
}
#crop-list li.eggplant {
  color: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.eggplant svg .icon {
  fill: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.eggplant:hover {
  background: #5f3c5d;
  color: #8e598b;
}
#crop-list li.eggplant:hover svg .icon {
  fill: #8e598b;
}
#crop-list li.grapes {
  color: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.grapes svg .icon {
  fill: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.grapes:hover {
  background: #56487c;
  color: #7a69a8;
}
#crop-list li.grapes:hover svg .icon {
  fill: #7a69a8;
}
#crop-list li.green-beans {
  color: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.green-beans svg .icon {
  fill: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.green-beans:hover {
  background: #a7d03b;
  color: #c3df79;
}
#crop-list li.green-beans:hover svg .icon {
  fill: #c3df79;
}
#crop-list li.herbs {
  color: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.herbs svg .icon {
  fill: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.herbs:hover {
  background: #176f33;
  color: #24ae51;
}
#crop-list li.herbs:hover svg .icon {
  fill: #24ae51;
}
#crop-list li.honeydew {
  color: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.honeydew svg .icon {
  fill: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.honeydew:hover {
  background: #f2a542;
  color: #f7c78a;
}
#crop-list li.honeydew:hover svg .icon {
  fill: #f7c78a;
}
#crop-list li.lettuce {
  color: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.lettuce svg .icon {
  fill: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.lettuce:hover {
  background: #bdd765;
  color: #d7e7a2;
}
#crop-list li.lettuce:hover svg .icon {
  fill: #d7e7a2;
}
#crop-list li.onions {
  color: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.onions svg .icon {
  fill: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.onions:hover {
  background: #ffdd9b;
  color: #fff7e7;
}
#crop-list li.onions:hover svg .icon {
  fill: #fff7e7;
}
#crop-list li.peaches {
  color: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.peaches svg .icon {
  fill: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.peaches:hover {
  background: #f8b75a;
  color: #fbd7a3;
}
#crop-list li.peaches:hover svg .icon {
  fill: #fbd7a3;
}
#crop-list li.pears {
  color: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.pears svg .icon {
  fill: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.pears:hover {
  background: #dbe96b;
  color: #ebf3ae;
}
#crop-list li.pears:hover svg .icon {
  fill: #ebf3ae;
}
#crop-list li.pinto-beans {
  color: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.pinto-beans svg .icon {
  fill: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.pinto-beans:hover {
  background: #ffdd9b;
  color: #fff7e7;
}
#crop-list li.pinto-beans:hover svg .icon {
  fill: #fff7e7;
}
#crop-list li.plums {
  color: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.plums svg .icon {
  fill: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.plums:hover {
  background: #56487c;
  color: #7a69a8;
}
#crop-list li.plums:hover svg .icon {
  fill: #7a69a8;
}
#crop-list li.popcorn {
  color: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.popcorn svg .icon {
  fill: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.popcorn:hover {
  background: #fff85a;
  color: #fffba6;
}
#crop-list li.popcorn:hover svg .icon {
  fill: #fffba6;
}
#crop-list li.potatoes {
  color: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.potatoes svg .icon {
  fill: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.potatoes:hover {
  background: #dbbd7a;
  color: #ebdbb6;
}
#crop-list li.potatoes:hover svg .icon {
  fill: #ebdbb6;
}
#crop-list li.pumpkins {
  color: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.pumpkins svg .icon {
  fill: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.pumpkins:hover {
  background: #eb9a05;
  color: #fbba41;
}
#crop-list li.pumpkins:hover svg .icon {
  fill: #fbba41;
}
#crop-list li.raspberries {
  color: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.raspberries svg .icon {
  fill: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.raspberries:hover {
  background: #720024;
  color: #be003c;
}
#crop-list li.raspberries:hover svg .icon {
  fill: #be003c;
}
#crop-list li.rhubarb {
  color: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.rhubarb svg .icon {
  fill: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.rhubarb:hover {
  background: #ca2933;
  color: #df6169;
}
#crop-list li.rhubarb:hover svg .icon {
  fill: #df6169;
}
#crop-list li.strawberries {
  color: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.strawberries svg .icon {
  fill: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.strawberries:hover {
  background: #a24111;
  color: #e75d18;
}
#crop-list li.strawberries:hover svg .icon {
  fill: #e75d18;
}
#crop-list li.sweet-corn {
  color: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.sweet-corn svg .icon {
  fill: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.sweet-corn:hover {
  background: #ffbb1e;
  color: #ffd26a;
}
#crop-list li.sweet-corn:hover svg .icon {
  fill: #ffd26a;
}
#crop-list li.squash {
  color: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.squash svg .icon {
  fill: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.squash:hover {
  background: #ffbb1e;
  color: #ffd26a;
}
#crop-list li.squash:hover svg .icon {
  fill: #ffd26a;
}
#crop-list li.tomatoes {
  color: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.tomatoes svg .icon {
  fill: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.tomatoes:hover {
  background: #b0610d;
  color: #ee881c;
}
#crop-list li.tomatoes:hover svg .icon {
  fill: #ee881c;
}
#crop-list li.watermelon {
  color: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.watermelon svg .icon {
  fill: #444;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#crop-list li.watermelon:hover {
  background: #e27586;
  color: #efb4bd;
}
#crop-list li.watermelon:hover svg .icon {
  fill: #efb4bd;
}

footer {
  bottom: 0;
  width: 100%;
}
footer div {
  float: left;
  margin: 0;
  padding: 15px 0;
  text-align: center;
  color: white;
  font-size: 1.5em;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 500;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
footer div#footer-market {
  width: 100%;
  padding: 300px 0;
  background: none;
  font-size: 3.4em;
  line-height: 1.6em;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 700;
}
footer div#footer-market a {
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  color: white;
  font-size: 0.5em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.05em;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 500;
  -webkit-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
footer div#footer-market a:hover {
  border-color: white;
}
footer div#about-module, footer div#city-module {
  width: 50%;
}
footer div#about-module {
  background: #ccc;
}
footer div#city-module {
  background: #aaa;
}

/* Selection Colors
======================================================= */
::-moz-selection {
  background: #444444;
  color: white;
}
::selection {
  background: #444444;
  color: white;
}

::-moz-selection {
  background: #444444;
  color: white;
}
