

/* Links and Headers
======================================================= */
a {
	color:$link-color;
	@include ease;

	&:focus, &:hover, &:active {outline: 0;}
	&:hover {color:$link-hover-color;}
}

h1, h2, h3, h4, h5 {
	margin-bottom:0.35em;
	color:$headline-color;
	letter-spacing:0.25em;
	text-transform:uppercase;
	@include os-8;
}

h1 {font-size:4.5em;}
h2 {font-size:3.25em;}
h3 {font-size:2.25em;}
h4 {font-size:2.1em;}
h5 {font-size:1.1em;}



/* Main Body Styles
======================================================= */
body {
	margin:0;
	padding:0;
	width:100%;
	font-size:62.5%;
	color:$body-copy-color;
}

#bkgd-img {
	background:url('../images/bkgd-img.jpg') no-repeat center center;
	background-size:cover;
	opacity:0.9;
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index:-9999;
}

/* Header Region
======================================================= */
header {
	float:left;
	background:$header-color;
	width:100%;
	padding:0;
	color:white;
	font-size:2.2em;
	text-align:center;
	@include a-5;

	// ------- Modules ------- //
	.header-wrapper {
		padding:20px 0;
		width:70%;
		max-width:1000px;
		margin:0 auto;
		@media screen and (max-width: $tablet) {width:90%;}
	}
	#site-logo, #header-link {
		display: inline-block;
		margin:0;
		padding:0;
	}
	// -- Site Name -- //
	#site-logo {
		float:left;
		margin-bottom:23px;
		text-align:left;
		font-size:1.6em;
		line-height:1;
		color:darken($header-color, 12%);
		@include a-8;
		span {
			position:relative;
			top:-1px;
			width:43px;
			font-size:1.1em;
		}
	}
	#header-icon {
		position:absolute;
		top:0;
		left:40%;
		right:40%;
		text-align: center;
		svg {
			//float:left;
			position:relative;
			top:18px;
			height:40px;
			width:60px;
			.icon {fill:darken($header-color, 25%);}
		}
	}
	// -- Link -- //
	#header-link {
		@include button-style;
		color:darken($header-color, 12%);//white;
		border-color:darken($header-color, 12%);//rgba(255,255,255,0.2);
		float:right;
		padding:8px 14px;
		//margin:0px 0 23px;
		text-align:center;
		font-size:0.65em;
		line-height: 1.1;
		z-index: 9999;
		span {
			position: relative;
			top: -2px;
			font-size: 1.4em;
		}
		&:hover {
			color:white;
			border-color:white;
		}
	}
}



/* Date Region
======================================================= */
#current-date {
	width:100%;
	float:left;
	display: inline-block;
	margin:0;
	padding:120px 0;
	color:white;
	font-size:4.1em;//4.5em;
	text-align:center;
	text-shadow:2px 2px 0 darken($header-color, 40%);
	@include a-8;

	#date-header {
		margin-bottom: 13px;//7px;
		font-size:1.2em;
		letter-spacing:-0.3;
		@include cedar;
	}
}


/* Crop List
======================================================= */
.wrapper {
	width:100%;
	float:left;
	padding:40px 0 60px;
	background:rgba(255,253,245,0.55);
}

#closed-msg {
	width:100%;
	float:left;
	margin-top:10px;
	text-align:center;
	color:#444;
	font-size:3em;
	@include a-5;
	.sub {
		margin-top:13px;
		margin-bottom:40px;
		color:#888;
		font-size:0.8em;
	}
}

#crop-list {
	padding:0;
	margin:0 auto;
	width:70%;
	max-width:1000px;
	@media screen and (max-width: $tablet) {width:90%;}
	li {
		$margin:1%;
		$width:(100% - ($margin * 2)) / 3;
		width:$width;
		margin:0 $margin 10px 0;
		border-radius:5px;
		list-style:none;
		cursor: pointer;
		float:left;
		padding:20px 0;
		display:inline-block;
		background:rgba(255,253,245,0.65);
		font-size:3em;
		@include dos-5;//a-7;

		&:nth-child(3n) {margin-right:0;}

		// -- Responsive Widths -- //
		//@media screen and (max-width: $tablet) {width:50%;}
		//@media screen and (max-width: $phone) {width:100%;}

		svg, img {
			margin-left:20px;
			width:14%;
			height:53px;
			float:left;
		}
		span {
			text-transform: uppercase;
			margin-left:15px;
			float:left;
			width:70%;
			position:relative;
			top:14px;
		}

		// ------- Food Module Colors ------- //
		@mixin food-style($food) {
			$food-dark:darken($food, 15%);
			//background:#{$food};
			color:#999;//$food;
			@include ease;
			svg {
				.icon {
					fill:$food;
					@include ease;
				}
			}
			&:hover {
				background:$food-dark;
				color:$food;
				svg {
					.icon {fill:$food;}
				}
			}
		}
		&.apples {@include food-style($apples);}
		&.apricots {@include food-style($apricots);}
		&.asparagus {@include food-style($asparagus);}
		&.beets {@include food-style($beets);}
		&.bell-peppers {@include food-style($bell-peppers);}
		&.broccoli {@include food-style($broccoli);}
		&.cabbage {@include food-style($cabbage);}
		&.cantaloupe {@include food-style($cantaloupe);}
		&.carrots {@include food-style($carrots);}
		&.cauliflower {@include food-style($cauliflower);}
		&.celery {@include food-style($celery);}
		&.cherries {@include food-style($cherries);}
		&.chile-peppers {@include food-style($chile-peppers);}
		&.cucumbers {@include food-style($cucumbers);}
		&.eggplant {@include food-style($eggplant);}
		&.grapes {@include food-style($grapes);}
		&.green-beans {@include food-style($green-beans);}
		&.herbs {@include food-style($herbs);}
		&.honeydew {@include food-style($honeydew);}
		&.lettuce {@include food-style($lettuce);}
		&.onions {@include food-style($onions);}
		&.peaches {@include food-style($peaches);}
		&.pears {@include food-style($pears);}
		&.pinto-beans {@include food-style($pinto-beans);}
		&.plums {@include food-style($plums);}
		&.popcorn {@include food-style($popcorn);}
		&.potatoes {@include food-style($potatoes);}
		&.pumpkins {@include food-style($pumpkins);}
		&.raspberries {@include food-style($raspberries);}
		&.rhubarb {@include food-style($rhubarb);}
		&.strawberries {@include food-style($strawberries);}
		&.sweet-corn {@include food-style($sweet-corn);}
		&.squash {@include food-style($squash);}
		&.tomatoes {@include food-style($tomatoes);}
		&.watermelon {@include food-style($watermelon);}
	}
}

#crop-calendar {
	width:100%;
	float:left;
	margin-top:60px;
	text-align:center;
	color:#444;
	font-size:2em;
	@include a-5;
	a {
		margin-left:3px;
		color:darken($header-color, 25%);
		span {
			text-decoration: none;
			font-size:1em;
			@include ease;
		}
		//&:hover {color:darken($header-color, 35%);}
	}
}

// -- Find Markets -- //
#footer-market {
	float:left;
	width:100%;
	padding:300px 0;
	text-align: center;
	color:white;
	font-size:3.4em;
	line-height:1em;
	text-shadow:2px 2px 0 darken($header-color, 40%);
	@include a-7;
	a {
		@include button-style;
		display: inline-block;
		margin-top:20px;
		text-shadow: none;
		span {
			position:relative;
			top:4px;
			margin-right:2px;
			font-size:1.5em;
			@include ease;
		}
	}
}


/* Footer
======================================================= */
footer {
	position:fixed;
	bottom:0;
	width:100%;

	// -- About and Add City -- //
	#about-module,
	#city-module {
		width:50%;
		float:left;//position:absolute;
		bottom:0;
		text-align: center;
		color:white;
		@include a-5;
		@include ease;
		// Buttons
		.button {
			background:$header-color;
			float:left;//position:fixed;
			bottom:0;
			padding:14px 0;
			display: block;
			cursor:pointer;
			width:100%;
			color:white;
			text-decoration: none;
			font-size:1.8em;
			span {
				margin-right:9px;
				font-size:1.1em;
				line-height: 0.8;
				// Close Icon
				&.genericon-close {
					display:none;
					line-height: 0.9;
				}
			}
			&:hover {
				background:darken($header-color, 25%);
			}
		}
		// Hidden Content
		.hidden {
			z-index:-999;
			position:fixed;
			bottom:-500px;
			padding:25px 0;
			text-align:left;
			background:rgba(255,253,245,0.9);
			@include ease;
			li, p {
				width:90%;
				display:block;
				margin:0 auto 10px;
				list-style: none;
				font-size:1.6em;
				color:#888;//darken($header-color, 20%);
				svg {
					height: 20px;
					width: 20px;
					position: relative;
					top: 3px;
					margin-right: 5px;
					.icon {fill:darken($header-color, 20%);}
				}
				&#site-author {
					border-top:1px solid #aaa;
					padding-top:20px;
					margin-top:20px;
					a {
						color:darken($header-color, 25%);
						text-decoration: none;
					}
				}
			}
			p {
				border-bottom:1px solid #aaa;
				padding-bottom:20px;
				margin-bottom:20px;
				font-size: 2.5em;
				@include a-8;
			}
			form {
				p {
					width:90%;
					margin:0 auto 10px;
					display: block;
					color:#888;
					font-size: 2em;
				}
				input, textarea {
					width:90%;
					margin:0 auto 10px;
					display:block;
					padding:10px 0;
					border:1px solid $header-color;
					background:white;
					font-size:1.5em;
					text-indent: 10px;
					@include a-5;

					&[type="submit"] {
						background:darken($header-color, 15%);
						color:white;
						text-shadow: 2px 2px 0 darken($header-color, 30%);
						font-size:1.8em;
						letter-spacing: 0.05em;
						@include a-7;
						@include ease;
						&:hover {background:darken($header-color, 20%);}
					}
					&:focus, &:active {
						outline:none;
					}
				}
			}
		}
		// Area active state
		&.active {
			.hidden {bottom:46px;}
			.button {
				background:red;
				span {
					&.genericon-close {display:inline-block;}
					&.genericon-comment, &.genericon-info {display:none;}
				}
			}
		}
	}
	#about-module {
		left:0;
		.button {background:$header-color;}
		.hidden {width:50%;}
	}
	#city-module {
		right:0;
		.button {background:darken($header-color, 8%);}
		.hidden {width:50%;}
	}

	// -- Hover Footer -- //
	&:hover {
		&#about-module, &#city-module {}
	}
}




/* Selection Colors
======================================================= */
::selection {
	background:$highlight-bkgd-color;
	color:$highlight-color;
}

::-moz-selection {
	background:$highlight-bkgd-color;
	color:$highlight-color;
}
